@font-face {
  font-family: "LightNovelPOPv2";
  src: local("LightNovelPOPv2.otf"),
    url("chrome-extension://__MSG_@@extension_id__/LightNovelPOPv2.otf")
      format("opentype");
}

.title {
  font-family: "LightNovelPOPv2", serif;
  font-size: 18px;
}

#banner-wrapper {
  margin: 12px auto;
  position: fixed;
  bottom: 0;
  z-index: 10000000;
  display: flex;
  justify-content: center;
  width: 100%;
}

#embed-banner {
  position: relative;
  padding: 16px;
  background-color: white;
  border: solid 1px rgb(45, 45, 45);
  border-radius: 2px;
  text-align: center;
}

#banner-close {
  position: absolute;
  padding-right: 6px;
  top: 0;
  right: 0;
  font-size: 16px;
}

#banner-title {
  font-size: 24px;
  font-weight: 500;
  font-family: "LightNovelPOPv2", "Hiragino Kaku Gothic ProN", "Hiragino Sans",
    "Helvetica Neue", Arial, Meiryo, sans-serif;
  margin-bottom: 20px;
}

#banner-subtitle {
  font-size: 18px;
}
